.input{
    width: 100%;
    display: flex;
    padding: 12px 15px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
}
.card{
    width: 100%;
    display: flex;
    padding: 12px 15px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #333;
    border: none;
}