        body{
            max-width: 800px;
            max-height: 800px;
            padding: 20px;
            box-shadow: 0 0 10px gold;
            border-radius: 20px;
            background-color: black;
        }
        #container{
            max-width: 70px;
      margin: 0 auto;
            padding: 20px;
      color: aqua;
      box-shadow: 0 0 10px rgba(46, 33, 5, 0.1);
      border-radius: 10px;
        }
        .container1{
            max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(117, 131, 11, 0.1);
      border-radius: 10px;
        }
    