body{
    background-color: aquamarine;
    color: aliceblue;
    text-decoration:underline;
    text-decoration-color: rgb(183, 69, 69) ;
}
.ar{
color: coral;
text-decoration-color: coral;
}
.ar :hover{
background-color: black;
color: greenyellow;
font-weight: bolder;
}
.yes
{
color: white;
font-weight: bolder;
}
.mark{
    text-decoration: wavy;
    color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
p{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}